.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registerForm {
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column; /* Alinea los elementos del formulario en columna */
  padding: 20px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(80, 30, 74, 0.558);
  gap: 20px;
}

.registerInput {
  padding: 5px 0;
  width: 90%;
  border-radius: 3px;
}

.registerButton {
  background-color: rgb(153, 14, 181);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  margin-top: 20px;
  width: 50%;
}

.registerError {
  color: rgb(233, 57, 110);
}

.registerForm h1 {
  color: white;
}

.moveToLogin {
  display: flex;
  color: white;
  position: relative;
}

.moveToLoginButton {
  margin-left: 3px;
}

.moveToLogin a:visited {
  color: rgb(214, 33, 193);
}

@media (max-width: 700px) {
  .registerForm {
    width: 250px;
    height: 300px;
  }
  .registerButton {
    margin-top: auto;
    margin-bottom: 15px;
  }
}
