.taskContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.taskForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px;
    width: 25%;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(80, 30, 74, 0.558);
}

.taskForm input {
    margin-top: 5px;
    padding: 5px;
    width: 90%;
}

.taskForm textarea {
    margin-top: 5px;
    width: 90%;
    height: 150px;
    resize: none;
}

.taskButton {
    background-color: rgb(153, 14, 181);
    color: white;
    border-radius: 5px;
    padding: 5px 23px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.taskForm h1 {
    color: white;
}

.taskForm label {
    margin-top: 10px;
}

.taskButtonContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.taskCancelButton {
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #ccc;
    padding: 5px 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
}

@media(max-width: 800px) {
    .taskForm {
        width: 300px;
        height: 470px;
    }
    .taskButtonContainer {
        margin-top: auto;
        margin-bottom: 10px;
    }
}