.taskCardContainer {
    display: flex;
    flex-direction: column;
    border: 3px solid #724972;
    padding: 0px 10px 20px 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
  }
  
  .taskCardContainer h1 {
    text-align: center;
    color: #ff00ff;
    margin-bottom: 10px;
    font-size: 25px;
  }
  
  .taskCardContainer p {
    color: #ccc;
    margin-bottom: 10px;
    overflow-y: auto;
    max-height: 120px;
    min-width: 200px;
    max-width: 200px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding-right: 5px;
  }

  .taskCardDescription {
    height: 120px;
  }

  .taskCardEditButton {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    color: rgb(0, 0, 0);
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #ff00ff;
    padding: 5px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 2px outset #5a5a59;
  }

  .taskCardEditButton:active {
    color: #000000;
    background-color: #a000a0;
    border: 2px inset #5a5a59;
  }

  .taskCardDeleteButton {
    display: flex;
    margin-top: 6px;
    align-items: center;
    color: rgb(0, 0, 0);
    border: 2px outset #5a5a59;
    border-radius: 5px;
    background-color: rgb(244, 33, 33);
    font-weight: 600;
    cursor: pointer;
  }

  .taskCardDeleteButton:active {
    color: rgb(0, 0, 0);
    background-color: rgb(160, 15, 15);
    border: 2px inset #5a5a59;
  }

  .taskCardButtonContainer {
    gap: 30px;
    display: flex;
    justify-content: center;
}

.taskCardContainer p::-webkit-scrollbar,
.taskCardContainer p::-webkit-scrollbar-track,
.taskCardContainer p::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  border: 2px solid #2c2c2c;
  background-color: #1e1e1e;
}
.taskCardContainer p::-webkit-scrollbar-thumb {
  background-color: #ff00ff;
}

.taskCardContainer p::-webkit-scrollbar-thumb:active {
  background-color: #a000a0;
}

.taskCardDate {
  margin-top: auto;
  text-align: center;
}


