.taskCardContainer {
    border: 3px solid white;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;
  }
  
  .taskCardContainer h1 {
    color: aqua;
    margin-bottom: 10px;
  }
  
  .taskCardContainer p {
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .taskCardContainer button {
    margin-right: 10px;
  }

  .taskCardButtons {
    color: rgb(255, 0, 204);
    border: 3px solid white;
    background-color: transparent;
    padding: 5px;
  }